body {
     /*background: #006399;*/
    color: whitesmoke;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.homecontent{
    background: #8a8a8a;
    display: flex;
    background-image: url('assets/images/homepage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    margin: auto;
    margin-top: 2rem;
    padding-top: 200px;
    padding-bottom: 220px;
    width: 100%;
}

.hometext{
    /*background: #5e5e5e;*/
    position: absolute;
    text-align: center;
    margin: 0 auto;
    padding: 110px;
    position: relative;
}

.hometexta{
    font-family: 'BalooDa2', sans-serif, bold;
    font-weight: 600;
    color: rgb(227, 227, 227);
}

.hometexta{
    font-family: 'BalooDa2', sans-serif, bold;
    font-weight: 200;
    color: rgb(227, 227, 227);
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.mainsection{
    background: rgb(244, 244, 244);
    height: auto;
    width: 100%;
    text-align:center;
}

.itema {
    /*background: rgb(89, 54, 54);*/
    margin: 20px;
	width: 250px;
	height: auto;
	opacity: 1;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.itemb {
    /*background: rgb(89, 54, 54);*/
    margin: 20px;
	width: 250px;
	height: auto;
	opacity: 1;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.itemc {
    /*background: rgb(89, 54, 54);*/
    margin: 20px;
	width: 250px;
	height: auto;
	opacity: 1;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.tablecontent{
    margin-top: 10rem;
    width: 40%;
    height: auto;
    color: #000000;
}

.tablecontent h1{
    /*background: rgb(156, 97, 97);*/
    font-family: 'BalooDa2', sans-serif, bold;
    font-weight: 600;
    font-size: 19px;
    color: #000000;
    width: 240px;
}

.tablecontent h2{
    /*background: rgb(156, 97, 97);*/
    font-family: 'SpaceMono', sans-serif, normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #35403A;
    letter-spacing: 1px;
     }
    
.darkbox {
    width: 240px;
    height: 219px;
    text-align: center;
    font-family: 'BalooDa2', sans-serif, bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.006em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #1E1E1E;
    opacity: 1;
}

.imagebk1 {
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-ismail-cem-aycan-5610123.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.itema:hover .imagebk1{
    opacity: 0.4;
}

.itema:hover .darkbox h1{
    opacity: 1;
}

.darkbox h1{
    top: 150px;
    position: relative;
    opacity: 0;
}

.imagebk2 {
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-darya-sannikova-4483343.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.itemb:hover .imagebk2{
    opacity: 0.4;
}

.itemb:hover .darkbox h1{
    opacity: 1;
}

.itemb .darkbox h1{
    top: -150px;
    position: relative;
    opacity: 0;
}

.imagebk3 {
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-mart-production-7333555.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.itemc:hover .imagebk3{
    opacity: 0.4;
}

.itemc:hover .darkbox h1{
    opacity: 1;
}


/*////////////////////////////////////////////////////////////////////////////////////////////*/

.sectiona{
    /*background: rgb(247, 0, 255);*/
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 100px;
    width: 100%;
    min-height: 400px;
    text-align:center;
}

.whychoose{
    background: #DCF2E6;
    width: 100%;
    height: 400px;
    align-items: center;
    margin-top: 10rem;
}

.whybox{
    /*background-color: #30ec01;*/
    width: 35%;
    margin-left: 25%;
    padding-top: 5rem;
    text-align: left;
    color: #000000;
}

.whybox h1{
    font-family: 'BalooDa2', sans-serif, normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 50px;
}

.whybox h2{
    font-family: 'BalooDa2', sans-serif, normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E1E1E;
}

.whybox h3{
    font-family: 'Flaticon', sans-serif, normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.whybox h4{
    font-family: 'SpaceMono', sans-serif, normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #35403A;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.sectionb{
    background: rgb(244, 244, 244);
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 3rem;
    width: 100%;
    min-height: 400px;
    text-align:center;
}

.tablecontentb{
    margin: auto;
    width: 80%;
    height: 650px;
    color: #000000;
    border-spacing: 15px;
}

.tableimage1{
    height: 50%;
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-lil-artsy-4069665.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tableimage2{
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-tima-miroshnichenko-5428305.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tableimage3{
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-masha-raymers-3345270.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tableimage4{
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-ben-kirby-10977439.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tableimage5{
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-cottonbro-studio-6492156.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.tableimage6{
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-david-yu-2684385.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.tableimage7{
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-cottonbro-studio-4649221.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.tableimage8{
    background: rgb(52, 52, 52);
    background-image: url('assets/images/pexels-rodnae-productions-8098283.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.buttonlearn{
    background: rgb(255, 255, 255);
    border: 0.5px solid #5A7AED;
    margin: auto;
    margin-bottom: 8rem;
    width: 11%;
    height: 45px;
}

.buttonlearn:hover {
    background: rgba(90, 122, 237, 0.2);
}

.buttonlearn h1{
    font-family: 'BalooDa2', sans-serif, normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #5A7AED;
    text-transform: uppercase;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
