@font-face {
    font-family: "BalooDa2";
    src: url('../assets/fonts/BalooDa2-SemiBold.ttf') format("truetype");
  }
  

  @font-face {
    font-family: "Flaticon";
    src: url('../assets/fonts/Flaticon.ttf') format("truetype");
  }

  
@font-face {
    font-family: "SpaceMonoBold";
    src: url('../assets/fonts/SpaceMono-Bold.ttf') format("truetype");
    
  }
  

  @font-face {
    font-family: "SpaceMono";
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format("truetype");
  }

.container {
    /*background: #a6a6a6;*/
    height: 7rem;
    margin-top: 1rem;
    margin-left: 9rem;
    margin-right: 9rem;
}

.logo {
   /*background: #006399;*/
    width: 4rem;
    height: 100%;
    float: left;
    margin-left: 1rem;
}

.links{
    margin-top: 1rem;
    /*background: #6a6a6a;*/
    float:right;
    width: 2rem;
}

.linksa{
    /*background: #006399;*/
    margin-bottom: 0.3rem;
}

.linksicon{
    /*background: #006399;*/
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-weight: 1000;
}

.linksicon:hover{
    /*background: #006399;*/
   color: rgb(224, 118, 48);
   transition: 0.3s;
}

.linksb{
    /*background: #006399;*/
   font-family: 'BalooDa2', sans-serif, normal;
   font-weight: 1000;
   color: black;
   text-decoration: none;
   margin: auto;
   float:right;
   margin-top: 2.7rem;
   padding-right:3rem;
}

.linksb:hover{
    /*background: #006399;*/
   color: rgb(224, 118, 48);
   transition: 0.3s;
}

.icon{
    margin: 20px;
    position: absolute;
    right: 70px;
    scale: 1.5;
    color: black;
}

.icon:hover{
    background-color: rgb(228, 214, 191);
}


#toplinks {
    display:inline-block;
}



.toplinksa {
    position: absolute;
    top: 70px;
    right: 150px;
    height: 100%;
    width: 150px;
    display: flex;
    float: right;
}

.toplinksb {
    padding-left: 10px;
    text-align: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: 50px;
    width: 200px;
    display: inline-flex;
    color: black;
    font-family: 'Baloo Da 2', sans-serif, normal;
   font-weight: 1000;
   color: black;
   text-decoration: none;
}

.toplinksb:hover {
    background-color: rgb(204, 204, 204);
}

  @media screen and (min-width: 1100px) {

    .topnav {
        display: none;
      }
  }

@media screen and (max-width: 1100px) {
    .linksa {
        display: none;
    }
    .linksb {
        display: none;
    }
  }




.pathindicator{
    font-family: 'BalooDa2', sans-serif, bold;
    margin-top: 4rem;
    margin-left: 10rem;
    font-weight: 400;
    font-size: 12px;
    color: black;
}

.pathindicator{
    font-family: 'BalooDa2', sans-serif, bold;
    margin-top: 4rem;
    margin-left: 10rem;
    font-weight: 400;
    font-size: 12px;
    color: black;
}
.pathindicator a{
    text-decoration: none;
    color: black;
}

/*///////////////////////////////////////////////////////*/

