body {
    /*background: #006399;*/
   color: whitesmoke;
   padding: 0;
   margin: 0;
   height: 100%;
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 300;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/


.homecontent{
    margin: auto;
    margin-top: 2rem;
    width: 95%;
    height: 1150px;
    width: 100%;
    color: black;
    background: #DCF2E6;
}

.tablecontent{
    margin: auto;
    padding-top: 2rem;
    width: 40%;
    color: #000000;
    border-spacing: 20px;
    font-family: 'Flaticon', sans-serif, normal;
    color: #000000;
}

.tabletitlebig{
    font-family: 'Baloo Da 2', sans-serif, normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 3rem;
    color: #000000;
    text-transform: uppercase;
}

.tabletitle{
    text-transform: uppercase;
}

.center{
    text-align: center;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.displaycontent{
    margin: auto;
    padding-top: 4rem;

    width: 100%;
    color: black;
    background: #F5F5F5;
    text-align: center;
}

.displaycontent h1{
    font-family: 'Baloo Da 2', sans-serif, bold;
    margin-top: 4rem;
    font-weight: 600;
    font-size: 26px;
    color: #000000;  
}

.displaycontent h2{
    font-family: 'Baloo Da 2', sans-serif, bold;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.pianozone{
    margin: auto;
    display: inline-block;
    padding:10px;   
    height: 540px;
    color: black;
    text-align: center;
}

.sectionb{
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    width: 100%;
    color: black;
    background: #F5F5F5;
    text-align: center;
}

.sectionb h1{
    margin: auto;
    width: 40%;
    text-decoration: none;
    text-align: left;
    font-family: 'Baloo Da 2', sans-serif, normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}

.sectionb h2{
    margin: auto;
    width: 40%;
    text-decoration: none;
    font-family: 'Flaticon', sans-serif, normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    color: #000000;
}

.tablecontentb{
    margin: auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
    width: 30%;
    color: #000000;
    border-spacing: 20px;
    color: #000000;
    font-family: 'Flaticon', sans-serif, normal;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.tablecontentbtitle{
    width: 30%;
    color: #000000;
    font-family: 'Space Mono', sans-serif, normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
}

.buttonlearn{
    width: 2.5rem;
    border: 0.5px solid #5A7AED;
}

.buttonlearn:hover {
    background: rgba(90, 122, 237, 0.2);
}

.buttonlearn h1{
    font-family: 'Baloo Da 2', sans-serif, normal;
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    color: #5A7AED;
    text-align: center;
    text-transform: uppercase;
}   
    